%p= @url

%p{style: "text-align: right"}
  = link_to "back", root_path

%hr

.container
  %table
    - @count.times do |i|
      %tr
        %td.url
          = link_to "食べログ", "http://tabelog.com#{@result_review_url[i]}"
        %td.review
          = @result[i]
